/* You can add global styles to this file, and also import other style files */
.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-button-padding {
  padding-left: 25px;
}

.medium-priority-icon {
  color: rgba(0, 0, 0, 0.2);
  transform: scale(0.5);
}
