<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="column-header">
      <span>{{ sprintName | titlecase }}</span>
      <span class="toolbar-button-padding"> </span>
      <button type="button" mat-stroked-button (click)="goToBacklog()">
        BACKLOG
      </button>
    </div>
    <span class="toolbar-spacer"></span>
    <button mat-stroked-button routerLink="/projects">PROJECTS</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="kanban-page-container">
  <div class="kanban-container">
    <h2>Todo</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      class="kanban-list"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of todo">
        <div
          (click)="editIssueClicked(item, 'todo')"
          class="kanban-box"
          [matTooltip]="item.description"
          matTooltipPosition="after"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <ng-container [ngSwitch]="item.priority">
            <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
              keyboard_double_arrow_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
              density_medium
            </mat-icon>
            <mat-icon *ngSwitchCase="'LOW'" color="primary">
              keyboard_double_arrow_down
            </mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[doneList, todoList]"
      class="kanban-list"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of inProgress">
        <div
          (click)="editIssueClicked(item, 'inProgress')"
          class="kanban-box"
          [matTooltip]="item.description"
          matTooltipPosition="after"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <ng-container [ngSwitch]="item.priority">
            <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
              keyboard_double_arrow_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
              density_medium
            </mat-icon>
            <mat-icon *ngSwitchCase="'LOW'" color="primary">
              keyboard_double_arrow_down
            </mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <div class="column-header">
      <h2>Done</h2>
      <span class="toolbar-spacer"></span>
      <button
        *ngIf="isSprintReadyForComplete()"
        type="button"
        color="accent"
        mat-raised-button
        (click)="completeSprintClicked()"
      >
        COMPLETE SPRINT
      </button>
    </div>
    <div
      cdkDropList
      #doneList="cdkDropList"
      class="kanban-list"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of done">
        <div
          class="kanban-box"
          (click)="editIssueClicked(item, 'done')"
          (mouseenter)="doneHoverItem = item.id"
          (mouseleave)="doneHoverItem = ''"
          [matTooltip]="item.description"
          matTooltipPosition="before"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
