<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ project.name }}</span>
    <span class="toolbar-button-padding">
      <button mat-stroked-button (click)="addSprint()">NEW SPRINT</button>
    </span>

    <span class="toolbar-button-padding">
      <button mat-stroked-button (click)="addIssue()">NEW ISSUE</button>
    </span>

    <span class="toolbar-spacer"></span>
    <button mat-stroked-button routerLink="/projects">PROJECTS</button>
  </mat-toolbar-row>
</mat-toolbar>

<div cdkDropListGroup class="scrum-page-container">
  <div class="scrum-container">
    <h2>Backlog</h2>

    <div
      cdkDropList
      class="scrum-list"
      #backlogList="cdkDropList"
      [cdkDropListData]="backlog"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of backlog">
        <div
          (click)="editIssueClicked(item, 'backlog')"
          class="scrum-box"
          [matTooltip]="item.description"
          matTooltipPosition="after"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <ng-container [ngSwitch]="item.priority">
            <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
              keyboard_double_arrow_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
              density_medium
            </mat-icon>
            <mat-icon *ngSwitchCase="'LOW'" color="primary">
              keyboard_double_arrow_down
            </mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="project.scrum.sprints">
    <div
      *ngFor="let sprint of project.scrum.sprints; let i = index"
      class="scrum-container"
    >
      <div class="sprint-header">
        <h2>
          {{ sprint.name }}
        </h2>
        <span class="sprint-date">
          {{ sprint.startDate | date: "shortDate" }}
          -
          {{ sprint.endDate | date: "shortDate" }}
        </span>
      </div>

      <div
        cdkDropList
        [cdkDropListData]="sprint.todo"
        class="scrum-list"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container *ngFor="let item of sprint.todo">
          <div
            (click)="editIssueClicked(item, 'backlog')"
            class="scrum-box"
            [matTooltip]="item.description"
            matTooltipPosition="after"
            cdkDrag
          >
            {{ item.name | truncate: 36 }}
            <ng-container [ngSwitch]="item.priority">
              <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
                keyboard_double_arrow_up
              </mat-icon>
              <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
                density_medium
              </mat-icon>
              <mat-icon *ngSwitchCase="'LOW'" color="primary">
                keyboard_double_arrow_down
              </mat-icon>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<pre>{{ project | json }}</pre>
