<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ project.name }}</span>
    <span class="toolbar-button-spacer">
      <button mat-stroked-button (click)="addIssue()">CREATE ISSUE</button>
    </span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="kanban-page-container" *ngIf="project">
  <div class="kanban-container">
    <h2>Backlog</h2>

    <div
      cdkDropList
      class="kanban-list"
      #backlogList="cdkDropList"
      [cdkDropListData]="backlog"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of backlog">
        <div (click)="editIssue(item, 'backlog')" class="kanban-box" cdkDrag>
          {{ item.name }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>Todo</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      class="kanban-list"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, backlogList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of todo">
        <div (click)="editIssue(item, 'todo')" class="kanban-box" cdkDrag>
          {{ item.name }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[doneList, todoList]"
      class="kanban-list"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of inProgress">
        <div (click)="editIssue(item, 'inProgress')" class="kanban-box" cdkDrag>
          {{ item.name }}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      class="kanban-list"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of done">
        <div class="kanban-box" (click)="editIssue(item, 'done')" cdkDrag>
          {{ item.name }}
        </div>
      </ng-container>
    </div>
  </div>
</div>
