<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ project.name | titlecase }}</span>

    <span class="toolbar-spacer"></span>
    <button mat-stroked-button routerLink="/projects">PROJECTS</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="kanban-page-container" *ngIf="project">
  <div class="kanban-container">
    <div class="column-header">
      <h2>Backlog</h2>
      <span class="toolbar-spacer"></span>
      <button mat-stroked-button (click)="addIssue()">CREATE ISSUE</button>
    </div>
    <div
      cdkDropList
      class="kanban-list"
      #backlogList="cdkDropList"
      [cdkDropListData]="backlog"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of backlog">
        <div
          (click)="editIssueClicked(item, 'backlog')"
          class="kanban-box"
          [matTooltip]="item.description"
          matTooltipPosition="after"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <ng-container [ngSwitch]="item.priority">
            <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
              keyboard_double_arrow_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
              density_medium
            </mat-icon>
            <mat-icon *ngSwitchCase="'LOW'" color="primary">
              keyboard_double_arrow_down
            </mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>Todo</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      class="kanban-list"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, backlogList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of todo">
        <div
          (click)="editIssueClicked(item, 'todo')"
          class="kanban-box"
          [matTooltip]="item.description"
          matTooltipPosition="after"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <ng-container [ngSwitch]="item.priority">
            <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
              keyboard_double_arrow_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
              density_medium
            </mat-icon>
            <mat-icon *ngSwitchCase="'LOW'" color="primary">
              keyboard_double_arrow_down
            </mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>In Progress</h2>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[doneList, todoList]"
      class="kanban-list"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of inProgress">
        <div
          (click)="editIssueClicked(item, 'inProgress')"
          class="kanban-box"
          [matTooltip]="item.description"
          matTooltipPosition="after"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <ng-container [ngSwitch]="item.priority">
            <mat-icon *ngSwitchCase="'HIGH'" size="16px" color="warn">
              keyboard_double_arrow_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'MEDIUM'" class="medium-priority-icon">
              density_medium
            </mat-icon>
            <mat-icon *ngSwitchCase="'LOW'" color="primary">
              keyboard_double_arrow_down
            </mat-icon>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="kanban-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      class="kanban-list"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container *ngFor="let item of done">
        <div
          class="kanban-box"
          (click)="editIssueClicked(item, 'done')"
          (mouseenter)="doneHoverItem = item.id"
          (mouseleave)="doneHoverItem = ''"
          [matTooltip]="item.description"
          matTooltipPosition="before"
          cdkDrag
        >
          {{ item.name | truncate: 36 }}
          <button
            *ngIf="doneHoverItem === item.id"
            [@fade]="'in'"
            class="kanban-done-item-button"
            color="warn"
            mat-icon-button
            (click)="deleteDoneIssueClicked(item)"
          >
            <mat-icon class="kanban-done-item-button-icon">close</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
