<div *ngIf="project$ | async as project">
  <!-- <pre>{{ project | json }}</pre> -->
  <div *ngFor="let column of project?.columns; let i=index" class="example-container">
    <h2>{{ column.name | titlecase}}</h2>

    <div
      cdkDropList
      [cdkDropListData]="column.tasks"
      cdkDropListSortingDisabled
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of column.tasks" cdkDrag>
        {{ item?.name }}
      </div>
    </div>
  </div>

  <!-- <div class="example-container">
    <h2>Done</h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        {{ item }}
      </div>
    </div>
  </div>
</div> -->
